*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #F0FFFF;
    color: #000000;
}
/* To center everything in game */
.game{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 16px!important;
}
/* Title of the game */
.title{
    font-size: 25px;
    z-index: 2;
    margin-bottom: 20px;
}

/* Score Board */
.score{
    display: flex;
    width: 50vw;
    justify-content: space-between;
    margin-bottom: 25px!important;
    margin-top: 30px!important;
}
/* Score  */
.p-count,.c-count{
    text-align: center;
    font-size: 20px;
    margin-top: 16px;
}

/* displaying three buttons in one line */
.options{
    display: flex;
    width: 50vw;
    justify-content: space-between;
    margin-top:32px;
}

/* Styling on alll three buttons */
.rock, .paper, .scissor{
    padding: 12px;
    width: 100px;
    border-radius: 10px;
    background: #FF7F50;
    outline: none;
    border-color: #FF7F50;
    cursor: pointer;
}

.move{
    font-size: 32px;
    font-weight: bold;
}

/* Reload button style */
.reload {
    display: none;
    margin-top: 32px;
    padding: 15px;
    background: #FF7F50;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.result{
    margin-top: 20px;
    font-size: 20px;
}

/* Responsive Design */
@media screen and (max-width: 612px)
{
    .title{
        text-align: center;
    }
    .score{
        margin-top: 200px;
        width: 100vw;
    }
    .options {
        width: 100vw;
    }}